		#allgoodsframe {
			width: 1200px;
			margin: auto;
			margin-top: 50px;
			border-right: 1px solid #E6E6E6;
			zoom: 0.9;
		}
		
		.goodsframe {
			width: 1200px;
			float: left;
		}
		
		.goodskind {
			clear: left;
			height: 50px;			
			margin-bottom: 5px;
		}
		
		.goodskindname {
			font-family: "微软雅黑";
			font-size: 25px;
			width: 120px;
			border-bottom: 2px solid beige;
		}
		
		.goods {
			border: 1px solid #E6E6E6;
			height: 120px;
			width: 480px;
			background-color: #FCFCFC;
			margin-left: 20px;
			margin-bottom: 20px;
			float: left;
		}
		
		.goodsimg {
			height: 120px;
			width: 120px;
			float: left;
		}
		
		.goodsinfo {
			height: 120px;
			width: 180px;
			float: left;
		}
		
		.goodsname {
			font-family: "微软雅黑";
			font-weight: bold;
			font-size: 20px;
			margin-top: 10px;
			margin-left: 15px;
		}
		
		.goodsfee {
			font-family: "微软雅黑";
			font-size: 20px;
			color: red;
			margin-top: 40px;
			margin-left: 15px;
		}
		
		.buygood {
			float: left;
			margin-top: 75px;
			margin-left: 50px;
		}
		
		.buttons {
			border-radius: 50px;
			width: 116px;
			font-family: "微软雅黑";
		}