#main{
			height: 500px;
			width: 100%;
			margin-top: calc(50vh - 300px);
			background: white;
		}
		#logindiv{
			margin-left: calc(50vw - 300px);
			padding-top: 125px;
		}
		#logo{
			margin-bottom: 15px;
		}
		#register{
			margin-top: 129px;
			float: right;
			padding-left: 30px;
			border-left: 1px solid black;
			border-top: 1px solid black;
		}
		#registertitle{
			font-size: 25px;
			margin-left: 60px;
		}
		#registerdiv{
			margin-right: 30px;
		}
		#rule{
			margin-top: 15px;
		}