body {
	margin: 0px;
	background: #E6E6E6;
}
body {
   padding-top: 0px !important;                 
}
*.modal-open {
   overflow-y: scroll;
   padding-top: 0 !important; 		
}     	

#top {
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #E6E6E6;
	background: white;
	background-image: url("../img/top-bg.png");
}

#left {
	width: 240px;
	height: calc((100vh - 69px) + (100vh - 69px)*0.1);
	position: absolute;
	left: 0px;
	border-right: 1px solid #E6E6E6;
	background: #333333;
	zoom: 0.9;
	cursor: default;
}

#right {
	width: calc(100% - 236px);
	height: calc(100vh - 130px);
	margin-left: 226px;
	border: 1px solid #E6E6E6;
	margin-top: 10px;
	background: white;
}

.fristleft {
	margin-top: 15px;
}

.leftdiv {
	height: 60px;
}

.leftdiv span {
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 17px;
	float: left;
	cursor: default;
}

.leftimg {
	float: left;
	margin-left: 45px;
	margin-top: 17px;
}

.leftcolor {
	float: left;
	height: 60px;
	width: 5px;
}

#righttop {
	margin-left: 240px;
	height: 50px;
	background: #FFFFFF;
	zoom: 0.9;
}

#rightform {
	margin-left: 60px;
	padding-top: 12px;
}

#rightform label {
	font-size: 18px;
}

#rightform button {
	background: #33d6c0;
	color: white;
}

.addgood {
	float: right;
	margin-right: 50px;
}

#righttitle {
	height: 50px;
	border-bottom: 1px solid #E6E6E6;
}

#title {
	height: 20px;
	border-left: 3px solid #FBDF47;
	margin-top: 15px;
	margin-left: 10px;
	float: left;
}

#title span {
	margin-left: 10px;
}

#tableplace {
	width: calc(100% - 20px);
	margin-left: 10px;
	cursor: default;
}

#tableplace1 {
	width: calc(100% - 20px);
	margin-left: 10px;
}

#rightnav {
	float: right;
	margin-right: 200px;
}

#sort {
	width: 300px;
}

.lo {
	float: left;
	margin-top: 10px;
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}

.ff {
	margin-left: 15px;
}

#tabletitle label {
	margin-top: 15px;
}

.lookorder {
	margin-right:;
}

.jimi {
	float: right;
	margin-top: 3px;
	margin-right: 5px;
	font-size: 12px;
}

.modal-body p {
	font-weight: bold;
}

.tom {
	margin-left: 10px;
}

.sp {
	cursor: default;
}

.pagination a {
	cursor: default;
}

.ppo {
	background: none;
	border: none;
	padding: 0;
	outline: none;
	border-radius: 0;
	background-color: transparent;
	line-height: inherit;
}

.popover{
}
