#trolley {
	position:fixed;
	right: 20px;
	bottom: 0px;
	border: 1px solid #E6E6E6;
	width: 400px;
	zoom:0.9;
}

#trolleyinfo {
	border-top: 2px solid #0089DC;
	background-color: #FFFFFF;
}

#trolleyname {
	height: 60px;
	border-bottom: 1px solid #E6E6E6;
}

#namefont {
	font-family: "微软雅黑";
	font-size: 20px;
	margin-top: 17px;
	margin-left: 20px;
	float: left;
}

#trolleylist {
	background-color: #FFFFFF;
	width: 100%;
	float: left;
}

#trolleylistmsg {
	height: 200px;
}

#trolleylistfont {
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 30px;
	color: #E6E6E6;
	margin-top: 70px;
	margin-left: 80px;
	float: left;
}

#settleinfo {
	float: left;
	height: 70px;
	width: 400px;
	background-color: #2C2C2C;
}

#sumpayinfo {
	height: 100%;
	width: 60%;
	float: left;
	cursor: pointer;
}

#trolleyimg {
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

#sumpay {
	float: left;
	font-family: "微软雅黑";
	font-size: 30px;
	font-weight: bold;
	color: #F7F7F7;
	margin-top: 15px;
	margin-left: 15px;
}

#settle {
	height: 100%;
	width: 40%;
	background-color: #E4E4E4;
	float: left;
	cursor: pointer;
}

#settlemsg {
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 20px;
	color: #2C2C2C;
	margin-top: 22px;
	margin-left: 20px;
}

.food {
			width: 380px;
			height: 50px;
			border-bottom: 1px solid #E6E6E6;
			margin-left: 10px;
			margin-top: 10px;
		}
		
		.foodName {
			float: left;
			width: 160px;
			font-family: "微软雅黑";
			margin: 10px;
		}
		
		.foodSum {
			color: red;
			float: left;
			font-family: "微软雅黑";
			margin: 10px;
		}
		
		.foodFont {
			float: right;
			margin: 10px;
			font-family: "微软雅黑";
			color: red;
		}
		
		.foodprice {
			float: right;
			margin: 10px;
			font-family: "微软雅黑";
			color: red;
		}